<% if @products.empty? %>
  Your search returned no results.
  <%= link_to root_path, "Search Again" %>
<% else %>
  <div class="items">
    <ul>
      <% @products.each do |product| %>
        <li>
        <%= image_tag product.image %>
        <br>
        name <%= product.name %>
        <br>
        sku <%= product.sku %>
        <br>
        sale price <%= product.sale_price %>
        <br>
        short description <%= product.short_description %>
        <br>
        customer average review <%= product.customer_review_average %>
        <br>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
